* {
    font-family: 'Borel', cursive;
    font-family: 'Comfortaa', cursive;
    font-family: 'Roboto', sans-serif;
}
.descuento{
    background-color: #1CD1B0;
    height: 38px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin-top: auto;
}
.heroes{
    background-color: #00669F;
    height: 101px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.4);
}
main {
    position: relative;
}
.batman{
    background-color: #F3F3F3;
    position: relative;
    top: 120px;
    width: 300px;
    margin-left: 10px;
    text-align: center;
    height: 336px;
}
.harley{
    background-color: #F3F3F3;
    position: relative;
    bottom: 240px;
    left: 350px;
    width: 300px;
    margin-left: 10px;
    text-align: center;
    height: 336px;
}
.batman2{
        background-color: #F3F3F3;
        position: relative;
        top: 120px;
        width: 300px;
        margin-left: 10px;
        text-align: center;
        height: 336px;
}
h2 {
    position: relative;
    top: 50px;
    text-align: center;
}
.avatar {
    position: absolute;
    left: 93px;
    top: 130px;
    border-radius: 50%;
}
.heart-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}
.card {
    background-color: #F3F3F3;
    width: 300px;
    height: 529px;
    margin: 20px;
    border-radius: 16px 16px 0 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
footer {
    position: absolute;
    bottom: 0px;
    color: #F3F3F3;
    background-color: #00669F;
    width: 1024px;
    height: 38px;
    line-height: 38px;
    padding-left: 20px;
    margin: 0;
}